
.center{
	text-align: center;
  	background-align: center;
  	margin:auto;
}

.wrapper2{
  	height: 300px;
  	position: relative;
	border: 1px solid black;
  	margin-top: 0.5%;
  	margin-bottom: 0.5%;
  	text-align: left;
	padding-left: 1%;
  	font-size: 16px;
  	overflow:scroll;	
}

.wrapper4{
 	margin-top: 0.5%;   
}

p{
	text-align: right;
	font-size: 13px;
}

.wrapper{
  height: 10%;
  position: static;
  background-color: #34c6be;
  text-align: center;
  font-size: 18px;
}

thead.co{
  background-color: grey;
}

.padding{
	padding-right : 0px !important;
	padding-left : 0px !important;
	margin-bottom : 0px !important;
}
ul.right{
	float : right;
	padding-right : 3%;
	
}
nav.margin{
	margin-bottom : 0px !important;
}

.logout
{ padding-left: 2%;
    padding-right: 2%;
  text-align: right;
}
.logo
{ padding-left: 2%;
    padding-right: 2%;
  text-align: left;
}
.navi{
    padding-left: 2%;
    padding-right: 2%;
    height : 55px;
   background-color: black;
}
.btn1{
  border: 0px none;
 color : white;
  background-color: transparent;
 
}
.btn2{
  font-size : 25px;
  border: 0px none;
 color : black;
  background-color: transparent;
 
}
.btn3{
  
  border: 0px none;
 color : black;
  background-color: transparent;
 
}
.image-size1{
  width: 40%;
  
  
}.image-size2{
  width: 30%;
  
}

.div_yg{
text-align: center;
}
