
.center{
	text-align: center;
  	background-align: center;
  	margin:auto;
}

.wrapper2{
  	height: 300px;
  	position: relative;
	border: 1px solid black;
  	margin-top: 0.5%;
  	margin-bottom: 0.5%;
  	text-align: left;
	padding-left: 1%;
  	font-size: 16px;
  	overflow:scroll;	
}

.wrapper4{
 	margin-top: 0.5%;   
}

p{
	text-align: right;
	font-size: 13px;
}

.wrapper{
  height: 10%;
  position: static;
  background-color: #34c6be;
  text-align: center;
  font-size: 18px;
}

thead.co{
  background-color: grey;
}

.padding{
	padding-right : 0px !important;
	padding-left : 0px !important;
}
ul.right{
	float : right;
	padding-right : 3%;
}
