.center{
   text-align: left;
   background-align: center;
}

.margin_right{
  
  padding: 6px 12px;
  margin: 0 80px 0px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
 }

ul.right{
	float : right !important; 
	padding-right: 3%;
}

img.imgpa{
	margin : -5%;
}

body.padding{
	padding-right : 0px !important;
	padding-left : 0px !important;
}

.logout
{
	padding-left: 10px;
    padding-right: 10px;
    padding-top : 12px;
    margin : auto ;
    float : right ;
   }
.logout1
{
	padding-left: 10px;
    padding-right: 10px;
    padding-top : 13px;
    margin : auto ;
    float : right ;
}
.logo
{ padding-left: 2%;
    padding-right: 2%;
  text-align: left;
}
.navi{
    padding-left: 2%;
    padding-right: 2%;
    height : 55px;
    background-color: black;
}

.btn1{
  border: 0px none;
 color : white;
  background-color: transparent;
 
}
.div_yg{
text-align: center;
}

.btn2{
	text-align: center;
	background-color: #6EE5A3;
	opacity: 0.8;	
}

.row{
	height: 10px;
}

h4{
	margin: 0px;
	padding: 0px;
}

a.noul:hover{
 text-decoration:none !important 
}

a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:active {text-decoration: none; color: #000000;}
a:hover {text-decoration: underline; color: #7C8B8F;}

