/**{
	border  :1px solid blue;
}
*/
.div_root{
	margin:auto;
	width:40%;
}

.modify{
	float: right;
}
.modify2{
	float: right;
	position: relative;
	top :-7px ;
}

#div_go{
	width:20%;
	float:right;
}