/**{
	border  :1px solid blue;
}
*/
.div_root{
	margin:auto;
	/*width:40%;*/
}

.modify{
	float: right;
}
.modify2{
	float: right;
	position: relative;
	top :-25px;

#div_go{
	width:20%;
	float:right;
}
body.padding{
	padding-right : 0px !important;
	padding-left : 0px !important ;
	margin-right: 0px !important;
	padding-bottom : 0px ;
	border-bottom : 0px ;
}
ul.right{
	float : right !!important;
	margin-right : 0px !important ;
}
