/**{
	border  :1px solid blue;
}
*/
.div_root{
	margin:auto;
	/*width:40%;*/
}

.modify{
	float: right;
}
.modify2{
	float: right;
	position: relative;
	top :-25px;
}
#div_go{
	width:20%;
	float:right;
}
body.padding{
	padding-right : 0px !important;
	padding-left : 0px !important ;
	margin-right: 0px !important;
	padding-bottom : 0px ;
	border-bottom : 0px ;
}
ul.right{
	float : right !!important;
	margin-right : 0px !important ;
}
.logout
{
	 padding-left: 2%;
    padding-right: 2%;
  text-align: right;
}
.logo
{ padding-left: 2%;
  text-align: left;
}
.navi{
    padding-left: 2%;
    padding-right: 2%;
    height : 55px;
   background-color: black;
}
.btn1{
  border: 0px none;
 color : white;
  background-color: transparent;
 
}
.btn2{
  font-size : 25px;
  border: 0px none;
 color : black;
  background-color: transparent;
 
}
.btn3{
  
  border: 0px none;
 color : black;
  background-color: transparent;
 
}
.image-size1{
  width: 40%;
  
  
}.image-size2{
  width: 30%;
  
}

.div_yg{
text-align: center;
}

.title{
	color: white;
	padding-left: -2%;
    padding-right: 2%;
    text-align: center;
}
.checkpass{
	border : none;
}
