
p {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 45vh;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 3px hsla(0, 0%, 0%, .6);
  width: 5em;
  padding: 1em;
  color: hsla(255, 255%, 255%, 1);
  text-align: center;
  text-shadow: 0 2px 0 hsla(0, 0%, 0%, .25);
  font: 400 1.5em /1 'Raleway', sans-serif;
  letter-spacing: 4px;
  background: black;
  cursor: pointer;
}

.anim {
  -webkit-animation: jiggle 2s ease-in infinite;
          animation: jiggle 2s ease-in infinite;
}

@-webkit-keyframes jiggle {
  48%, 62% {
    -webkit-transform: scale(1.0, 1.0);
            transform: scale(1.0, 1.0)
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9)
  }
  56% {
    -webkit-transform: scale(0.9, 1.1) translate(0, -5px);
            transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    -webkit-transform: scale(1.0, 1.0) translate(0, -3px);
            transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

@keyframes jiggle {
  48%, 62% {
    -webkit-transform: scale(1.0, 1.0);
            transform: scale(1.0, 1.0)
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9)
  }
  56% {
    -webkit-transform: scale(0.9, 1.1) translate(0, -5px);
            transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    -webkit-transform: scale(1.0, 1.0) translate(0, -3px);
            transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

.group {
  text-align: center;
  margin: 20px auto;
}

.group button {
  margin-top: 10px;
}

button {
  /*			box-sizing: border-box;*/
  
  background: NONE;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 15px 70px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.41);
  box-shadow: 0 3px 0 0 #383838;
  border: 3px solid transparent;
  animation: pulse 1s linear infinite alternate;
  -webkit-animation: pulse 1s linear infinite alternate;
}

.active,
button:active {
  background-image: linear-gradient(rgba(0, 0, 0, .1) 13%, transparent 13%, transparent);
  box-shadow: 0 1px 0 0 #383838;
  color: rgba(0, 0, 0, .45);
  text-shadow: none;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

button:focus,
button:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.blam:focus,
.blam:hover {
  background-color: #0097bd;
}

.blam {
  background-color: #00bff0;
  border-color: #00bff0;
}

.syke:focus,
.syke:hover {
  background-color: #ad4e4e;
}

.syke {
  background-color: #e06464;
  border-color: #e06464;
}

.later:focus,
.later:hover {
  background-color: #7c8b8f;
}

.later {
  background-color: #a8bdc2;
  border-color: #a8bdc2;
}
.ppp:focus,
.ppp:hover {
  background-color: #0097bd;
}

.ppp {
  background-color: black;
  border-color: #00bff0;
}
@-webkit-keyframes pulse {
  100% {
    transform: translateY(6.9px);
  }
}

@keyframes pulse {
  100% {
    transform: translateY(6.9px);
  }
}
