/**{
	border: 1px solid blue;
}*/
.myposition{
	bottom: 1px;
}

.image{
	height:80px;
	width:80px;
	max-height: 100%
}

tr
tr.tableheight{
	max-height: 100%;
}

tr.tr2{
	height:70px;
	background: #708090;
	opacity: 0.7;
}

tr.tr1{
	height:70px;	
	background: #CFCFCF;
	opacity: 0.7;
}
}

.btn-center{
	vertical-align : middle;
}

tr.trcenter{
	text-align: middle;
}

.tablewidth{
	height: 50px
}

.center{
	text-align: center;
	background-align: center;
	padding-left: 0px;
    padding-right: 0px;
}

.center1{
	text-align: center;
	background-align: center;
	margin:auto;
}

tr.change_color{
	hover : 
}

.rr{
	text-align: right; !important
}

.logout{
 	padding-left: 2%;
    padding-right: 2%;
  	text-align: right;
}

.logo{
 	padding-left: 2%;
    padding-right: 2%;
  	text-align: left;
}

.navi{
    padding-left: 2%;
    padding-right: 2%;
    height : 55px;
	background-color: black;
}

.btn1{
	border: 0px none;
 	color : white;
  	background-color: transparent;
}

.btn2{
	font-size : 25px;
  	border: 0px none;
  	color : black;
	background-color: transparent;
}

.btn3{
	 border: 0px none;
 	 color : black;
  	 background-color: transparent;
}

.image-size1{
	width: 40%;
}

.image-size2{
 	 width: 30%;
}

.img{
	height:40px;
	width:40px;
	max-height: 100%
}

.menu{
float :left;
}

a.noul:hover{
 text-decoration:none !important 
}

.backg{
	background-image:url('../img/main_back.png'); 
	background-repeat:no-repeat;
	background-size: 120%;

}
