.backg{
	/*background-image : url("../img/tax_num.png") ; */
	background-size: cover; 
    background-repeat: no-repeat;
}
.center{
	text-align: center;
  	background-align: center;	
  	 }


.padding{
	padding-right : 0px !important;
	padding-left : 0px !important;
	margin-bottom : 0px !important;
	
}
ul.right{
	float : right;
	padding-right : 3%;
	
}

li {
    list-style: none;
    }
.picture{
	    opacity: 0.5;
}

