/*{
	border  :1px solid blue;
}*/

.jumbotron {
  text-align: center;
}

.jumbotron > h1 {
  color: black;
}

.page-header {
  margin-top: 100px;
 }

#profile-description {
  text-align: center;
}

#profile-photo {
  width: 23px;
  height: 22px;
}

.div_root{
	margin:auto;
	width:30%;
}

.div_login{
	width:75%;
	float:left;
}

#div_go{
	width:20%;
	float:right;
}
.background_color{
	background-image: url("./../img/login_bg.jpg");
}
