/*{
	border  :1px solid blue;
}*/

.jumbotron {
  text-align: center;
}

.jumbotron > h1 {
  color: black;
}

.page-header {
  margin-top: 100px;
 }

#profile-description {
  text-align: center;
}

#profile-photo {
  width: 23px;
  height: 22px;
}

.div_root{
	margin:auto;
	width:30%;
}

.div_login{
	width:75%;
	float:left;
}

.main_color{
	background-color: #34c6be; !important
}
.wrapper{
 	margin-top: 10%;  
 	margin-bottom: 10%; 
 	text-align: center;
 }